<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBConnection.Properties.Settings.MEDICALDBConnectionString"
            connectionString="Data Source=DESKTOP-UF2LH0U\SQLEXPRESS;Initial Catalog=MEDICALDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>